/* 将所有元素的外边距和内边距都设为0 */
* {
    margin: 0;
    padding: 0;
}

.title img {
    /* 让图片显示为块级元素 */
    display: block;
    /* 给图片添加模糊效果，模糊半径为1像素。 */
    filter: blur(1px);
    /* 设置图片的宽度和高度为100%，即填充整个父元素。 */
    width: 100%;
    height: 100%;
    /* 调整图片的尺寸和比例以适应容器。 */
    object-fit: fill;
    /* 固定图片的位置在屏幕左上角。 */
    position: fixed;
    top: 0;
    left: 0;
    /* 设置图片的堆叠顺序为最低层。 */
    z-index: -1;
}

.swiper-container {
    width: 100%;
    height: 500px;
    padding-top: 120px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 20px;
}

/* 分页总体 */
.page {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 标题板块 */
.title {
    /* 设置标题的高度为800像素 */
    height: 800px;
    /* 隐藏超出边界的内容 */
    overflow: hidden;
}

.title p {
    /* 段落显示为行内块级元素，即既保留块级元素的特性，又可以和其他行内元素排列在一行。 */
    display: inline-block;
    /* 设置段落的上外边距为300像素，即让段落与上方的元素有300像素的距离。 */
    margin-top: 300px;
    /* 设置段落的高度为自动，宽度为100%，即让段落根据内容自适应高度，并填充父元素的宽度。 */
    height: auto;
    width: 100%;
    /* 设置段落的背景颜色为黑色，不过有20%的透明度，即让段落有一层半透明的黑色遮罩。 */
    background-color: rgba(0, 0, 0, 0.2);
    /* 设置段落的内边距为20像素上下，0像素左右，即让段落与边框之间有20像素的空隙。 */
    padding: 20px 0;
    /* 设置段落的文字颜色为白色。 */
    color: white;
    /* 设置段落的文字大小为50像素。 */
    font-size: 50px;
    /* 设置段落的文字粗细为粗体。 */
    font-weight: bold;
    /* 给段落添加文字阴影效果，阴影偏移量为水平和垂直都是0像素，模糊半径为10像素，颜色为黑色。 */
    text-shadow: 0 0 10px black;
    /* 设置段落的文字对齐方式为居中。 */
    text-align: center;
}

/* 分页1 - 骚话 */
.page1 {
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg1.webp);
}

.swiper-container-lovewmh1 {
    width: 550px;
}

.page1-lovewmh1 img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.page1 .right {
    border-bottom: 1px solid black;
    line-height: 50px;
    font-size: 15px;
}

.page1 .cat {
    width: 150px;
}

/* 分页2 - 时间轴 */
.page2 {
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg2.jpg);
}

.swiper-container-lovewmh2 
.swiper-wrapper 
.swiper-slide {
    width: 400px;
    border-radius: 0;
}

.page2-box {
    width: 300px;
    height: 100%;
    padding-top: 100px;
}

.page2-box img {
    width: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 分页3 - 一段话 */
.page3 {
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg3.webp);
    padding-top: 200px;
    height: 700px;
}

#talkToWMH {
    width: 750px;
    padding: 50px 100px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    text-shadow: 0 0 3px black;
}

#talkToWMH b {
    font-size: 25px;
}

#talkToWMH p {
    font-size: 20px;
}

/* 自适应 */
/* 当视口宽度小于或等于1060像素时 */
@media screen and (max-width: 1060px) {
    .page3 {
        padding-top: 80px;
    }

    #talkToWMH {
        width: 500px;
        padding: 50px 50px;
    }
}

/* 当视口宽度小于或等于730像素时 */
@media screen and (max-width: 730px) {
    .title p {
        /* 设置段落的文字大小为30像素。 */
        font-size: 30px;
    }

    .swiper-container {
        padding-top: 150px;
    }

    .swiper-container-lovewmh1 {
        width: 400px;
        height: 500px;
    }

    .page2-box {
        width: 240px;
        padding-top: 80px;
    }

    .swiper-container-lovewmh2 {
        height: 450px;
    }

    .page2-box p {
        font-size: 16px;
    }

    .page3 {
        padding-top: 100px;
        height: 800px;
    }

    #talkToWMH {
        width: 350px;
        padding: 30px 30px;
    }

    #talkToWMH b {
        font-size: 23px;
    }
    
    #talkToWMH p {
        font-size: 15px;
    }

}

/* 当视口宽度小于或等于426像素时 */
@media screen and (max-width: 426px) {
    .title p {
        /* 设置段落的文字大小为30像素。 */
        font-size: 30px;
        /* 设置段落的上外边距为 260 像素 */
        margin-top: 260px;
    }

    .swiper-container {
        padding-top: 150px;
    }

    .swiper-container-lovewmh1 {
        width: 90%;
        height: 500px;
    }

    .page1-lovewmh1 {
        font-size: 15px;
    }

    .page1-lovewmh1 img {
        width: 70px;
    }

    .page1 .cat {
        width: 120px;
    }

    .page2-box {
        width: 240px;
        padding-top: 80px;
    }

    .swiper-container-lovewmh2 {
        width: 80%;
        height: 500px;
    }

    .page2-box p {
        font-size: 16px;
    }

    .page3 {
        padding-top: 100px;
        height: 900px;
    }

    #talkToWMH {
        width: 80%;
        padding: 20px 10px;
    }

    #talkToWMH b {
        font-size: 23px;
    }
    
    #talkToWMH p {
        font-size: 15px;
    }
}